*{
    padding: 0;
    margin: 0;
}

body{
    background-color:gainsboro;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

form{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}

form div{
    display: inline-block;
    flex-direction: column;
    margin-bottom: 30px;
}

form input{
    outline: unset;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 50px;
    appearance: textfield;
}

.control-label {
    display: block;
    color: dimgrey;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Poppins', sans-serif;
}

.row{
    background-color:white;
    border-radius: 20px;
    border-bottom-right-radius: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 30px;
    margin: 5px;
    width: 600px;
    height: 400px;
}

.hr{
    color: gainsboro;
}

button .img_btn{
    max-width: 60px;
    max-height: 60px;
    right: -545px;
    top: -20px;
}

#calc-btn{
    background: none;
    border: none;
    position: absolute;
    left: 540px;
    bottom: 280px;
}

button .img_btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#show-age-day,
#show-age-month,
#show-age-year{
    color: #844dfa;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

#year-text,
#month-text,
#day-text{
    color: black;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

/* Mobile design */
@media (max-width: 800px) {
    .row{
        border-radius: 20px;
        border-bottom-right-radius: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        padding: 30px;
        margin: 5px;
        width: 290px;
        height: 450px;
    }

    form input{
        outline: unset;
        padding: 20px;
        border: 1px solid grey;
        border-radius: 10px;
        width: 50px;
        appearance: textfield;
    }

    #calc-btn{
        left: 140px;
        bottom: 300px;
    }

    #show-age-day,
    #show-age-month,
    #show-age-year{
        margin-bottom: -100px;
        margin-top: 80px;
    }

    #year-text,
    #month-text,
    #day-text{
        margin-bottom: -100px;
        margin-top: 80px;
    }

    .hr{
        margin-bottom: -50px;
        margin-top: 30px;
    }

}

